<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/binq_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BInQ"
        tools:targetApi="31">
        <activity
            android:name=".pages.common.User_Appointment_Details_History"
            android:exported="false" />
        <activity
            android:name=".pages.admin.Admin_Appointment_Action"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pages.admin.Admin_User_History_Display"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pages.users.User_Appointment_History"
            android:exported="false" />
        <activity
            android:name=".pages.admin.Admin_Appointment_History"
            android:exported="false" />
        <activity
            android:name=".pages.users.User_Appointment_Add"
            android:exported="false" />
        <activity
            android:name=".pages.users.User_Appointment_Display"
            android:exported="false" />
        <activity
            android:name=".pages.login.NewUser"
            android:exported="false" />
        <activity
            android:name=".pages.login.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.common.TimeSlot_Display_Add"
            android:exported="false" />
        <activity
            android:name=".pages.common.Reason_Display_Add"
            android:exported="false" />
        <activity
            android:name=".pages.admin.Admin_Appointment_Add"
            android:exported="false" />
        <activity
            android:name=".pages.admin.Admin_Appointment_Display"
            android:exported="false" />
    </application>

</manifest>